.fl {
  float: left;
}
.bccc {
  border: 1px solid #ccc;
}
h4,
b {
  font-weight: normal;
}
i {
  font-style: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.overText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.claims-main {
  width: 1360px;
  height: 880px;
  margin: auto;
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}
.claims-main > div {
  margin-right: 20px;
}
.claims-main .editor {
  width: 439px;
  border: 1px solid #ccc;
  overflow: auto;
  height: 100%;
  float: left;
}
.claims-main .comparison-file {
  width: 320px;
  border: 1px solid #ccc;
  height: 100%;
  float: left;
  margin-right: 20px;
  overflow: auto;
  padding: 0 20px;
}
.claims-main .comparison-file > span {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 5px;
  color: #666;
  border-bottom: 1px solid #666666;
  margin-top: 25px;
}
.claims-main .comparison-file em {
  color: #ff3300;
  font-style: normal;
  font-size: 12px;
}
.claims-main .comparison-file ul {
  width: 313px;
  border-top: 1px solid #ccc;
}
.claims-main .comparison-file ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  float: left;
  background: #233645;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
.claims-main .comparison-file ul li div {
  width: 280px;
  float: left;
  line-height: 36px;
}
.claims-main .mate-height {
  width: 320px;
  height: 100%;
  float: left;
}
.claims-main .mate-height .mate-word {
  padding: 0 20px;
  height: 422px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.claims-main .mate-height .mate-word > span {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 5px;
  color: #666;
  border-bottom: 1px solid #666666;
  margin-top: 25px;
}
.claims-main .mate-height .mate-word em {
  color: #ff3300;
  font-style: normal;
  font-size: 12px;
}
.claims-main .mate-height .mate-word ul {
  border-top: 1px solid #ccc;
  padding-left: 15px;
}
.claims-main .mate-height .mate-word ul li {
  margin-bottom: 14px;
  height: 16px;
}
.claims-main .mate-height .mate-word ul li b {
  float: left;
}
.claims-main .mate-height .mate-word ul li span {
  width: 57px;
  height: 16px;
  margin-right: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.claims-main .mate-height .mate-word ul li i {
  width: 40px;
  height: 16px;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.claims-main .mate-height .mate-word ul li button {
  width: 84px;
  height: 16px;
  font-size: 14px;
  float: left;
  border: none;
  background: none;
  color: #666;
}
.claims-main .mate-height .mate-word p {
  height: 30px;
  margin-left: 15px;
  margin-top: 17px;
}
.claims-main .mate-height .mate-word p input {
  width: 180px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 12px;
  text-indent: 5px;
}
.claims-main .mate-height .mate-word p a {
  display: inline-block;
  width: 60px;
  height: 28px;
  background: #ee4618;
  border-radius: 5px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
}
.claims-main .mate-height .mate-seem {
  padding: 0 20px;
  height: 420px;
  border: 1px solid #ccc;
}
.claims-main .mate-height .mate-seem > span {
  display: inline-block;
  font-size: 16px;
  padding-bottom: 5px;
  color: #666;
  border-bottom: 1px solid #666666;
  margin-top: 25px;
}
.claims-main .mate-height .mate-seem em {
  color: #ff3300;
  font-style: normal;
  font-size: 12px;
}
.claims-main .mate-height .mate-seem > p {
  font-size: 16px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.claims-main .mate-height .mate-seem > p span {
  margin-left: 50px;
}
.claims-main .mate-height .mate-seem ul li {
  width: 244px;
  height: 16px;
  margin-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.claims-main .mate-height .mate-seem ul li span {
  display: inline-block;
  width: 125px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.claims-main .mate-height .mate-seem ul li i {
  display: inline-block;
  width: 56px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 44px;
}
/*# sourceMappingURL=claims.css.map */
