.act_left{
	height: 305px;
}
.act_safe{
	margin-bottom: 60px;
}
/*右边*/
.info_right{
    float: left;
    width:960px;
    height: 305px;
    padding:0 10px 0 30px;
    border:1px solid #d0d3d7;
    border-left: none;
    font-size: 14px;
}
.info_right>h3{
    height: 51px;
    border-bottom: 1px solid #c8d6e3;
    line-height: 51px;
    font-size: 16px;
    color: #333;
}
.customer_info dd{
	float: left;
}
.custorm_top{
	border-right: 1px dashed #ccc;
	margin-top: 57px;
	    height: 160px;
}
.custorm_img{
	width: 130px;
	height: 135px;
	border:1px solid #c8d6e3;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin:0 21px 0 0;
}
.custorm_img img{
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	margin: auto;
}
.customer_intro{
	width: 435px;
	padding: 0 25px;
}
.customer_intro h4{
	border-bottom: 1px dashed #c8d6e3;
	height: 40px;
	line-height: 58px;
	    font-size: 16px;
	    color: #fa104a;
}
.customer_intro p{
	margin: 10px 0 8px 0;
	font-size: 14px;
	color: #333;
}
.customer_intro>div{
	font-size: 12px;
	color: #666;
	line-height: 20px;
	margin-bottom: 21px;
    overflow: hidden;
    position: relative;
    max-height: 40px;
}
.customer_intro h5{
	margin-top: 20px;
	font-size: 20px;
	color: #333;
}
.customer_intro>div span{
	margin-right: 20px;
}
.customer_info dt{
	float: left;
}
.customer_info dt ul{
	margin-top: 57px;
	width: 305px;
	border-left: 1px dashed #c8d6e3;
	height: 162px;
}
.customer_info dt ul li{
	padding-left: 25px;
	height: 25px;
	margin-bottom: 15px;
}
.customer_info dt ul i{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 9px;
	background: url(../imgs/account/icon_1.png) no-repeat;
	    position: relative;
    top: 7px;
}
.customer_info dt ul li:hover{
	color: #fa104a;
}
.customer_info dt ul i.phone{
	background-position: -4px -9px;
}
.customer_info dt ul li:hover i.phone{
	background-position: -4px -41px;
}
.customer_info dt ul i.fix_phone{
	background-position: -35px -9px;
}
.customer_info dt ul li:hover i.fix_phone{
	background-position:  -35px -41px;
}
.customer_info dt ul i.qq{
	background-position: -68px -9px;
}
.customer_info dt ul li:hover i.qq{
	background-position: -68px -41px;
}
.customer_info dt ul i.Email{
	background-position: -99px -9px;
}
.customer_info dt ul li:hover i.Email{
	background-position: -99px -41px;
}