/*å³è¾¹*/
.info_right{
	float: left;
	width: 770px;
	height: 290px;
	padding: 0 15px 0;
	border:1px solid #d0d3d7;
	font-size: 14px;
	background: #fff;
}
.info_right h3{
	position: relative;
	height: 51px;
	line-height: 51px;
	font-size: 16px;
}
.info_right h3 span{
	display: inline-block;
	border-bottom: 1px solid #666;
	position: relative;
	z-index: 1;
	height: 40px;
}
.info_right h3 i{
	display: inline-block;
	width: 720px;
	border-top:1px solid #ccc;
	position: absolute;
	top: 40px;
	left: 30px;
}
.customer_info dd{
	float: left;
}
.custorm_img{
	width: 150px;
	height: 183px;
	overflow: hidden;
	position: relative;
	margin:20px 10px 0 0;
	border: 1px solid #ccc;
}
.custorm_img img{
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	margin: auto;
}
.customer_intro{
	width: 309px;
	/* padding: 0 15px; */
	border-right: 1px solid #666;
	margin-top: 25px;
}
.customer_intro h4{
	font-size: 16px;
	color: #fa104a;
}
.customer_intro p{
	margin: 10px 0 8px 0;
	color: #333;
}
.customer-article{
	width: 295px;
	color: #666;
	line-height: 20px;
	margin-bottom: 10px;
	overflow: auto;
	position: relative;
	max-height: 60px;
}
.customer-servce{
	width: 295px;
	overflow: hidden;
	height: 20px;
}
.customer_intro h5{
	font-size: 16px;
	color: #333;
}
.customer_intro>div span{
	margin-right: 20px;
}
.customer_info dt{
	float: left;
}
.customer_info dt ul{
	margin-top: 40px;
	width: 278px;
	height: 162px;
}
.customer_info dt ul li{
	padding-left: 12px;
	height: 25px;
	margin-bottom: 15px;
}
.customer_info dt ul li:hover{
	color: #ff0033;
}
.customer_info dt ul i{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 9px;
	background: url(../imgs/icon_1.png) no-repeat;
	position: relative;
	top: 7px;
}
.customer_info dt ul i.phone{
	background-position: -1px -8px;
}
.customer_info dt ul i.fix_phone{
	background-position: -33px -8px;
}
.customer_info dt ul i.qq{
	background-position: -67px -7px;
}
.customer_info dt ul i.Email{
	background-position: -96px -8px;
}
.customer_info dt ul  img{
	width:62px;
}
