.act_left{
	height: 346px;
}
/*右边*/
.info_right{
    float: left;
    width:960px;
    height: 346px;
    padding:0 10px 0 30px;
    border:1px solid #d0d3d7;
    border-left: none;
    font-size: 14px;
}
.info_right>h3{
    height: 51px;
    border-bottom: 1px solid #c8d6e3;
    line-height: 51px;
    font-size: 16px;
    color: #333;
}
.info_right span{
	display: inline-block;
	text-align: center;
	height: 34px;
	line-height: 34px;
    float: left;
    overflow: hidden;
	position: relative;
	border-right: 1px solid #c8d6e3;
	border-bottom: 1px solid #c8d6e3;
	    white-space: nowrap;
}
.info_right dl{
	border: 1px solid #c8d6e3;
	margin-top: 20px;
	border-right:none ;
	border-bottom: none;
}
.info_right dd{
	color: #999;
}
.info_right .order1{
	width:83px;
}
.info_right .order2{
	width:139px;
}
.info_right .order3{
	width:121px;
}
.info_right .order4{
	width:176px;
}
.info_right .order5{
	width:129px;
}
.info_right .order6{
	width:82px;
}
.info_right .order7{
	width:222px;
}
.info_right i{
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-left: 37px;
	    margin-top: 7px;
	    cursor: pointer;
}
.info_right i.edit{
	background: url(../imgs/account/edit.png) no-repeat center;
}
.info_right i.prefect{
	background: url(../imgs/account/perfect.png) no-repeat center;
}
.info_right i.del{
	background: url(../imgs/account/del.png) no-repeat center;
}
